<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>payment</title>
  </head>
  <body>
  <form action="" method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="enter name"><br>
    <input type="text" name="purpose" placeholder="enter purpose"><br>
    <input type="email" name="email" placeholder="enter email"><br>
    <input type="number" name="amount" placeholder="enter amount"><br>
    <input type="submit" value="pay"><br>
  </form>    
  </body>
</html>